:root {
  --primary-color: #d3d3d3;
  --secondary-color: #0582ca;
  --tertiary-color: #000;
}
.underline {
  border-bottom: 1px solid #f06449;
  width: 47%;
  margin: 10px auto;
}

/* nav bar */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--tertiary-color);
  margin: 0;
  padding: 0;
  width: 80%;
}
/* work */
#work {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
section h2 {
  margin-bottom: 35px;
  display: inline-block;
  font-size: 40px;
}

.column:hover {
  opacity: 1;
  background-position: center;
  justify-content: center;
}

.card img {
  height: 337px;
  width: 600px;
}
.img {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  color: var(--tertiary-color);
  border-radius: 15px;
  border-bottom: 3px solid var(--tertiary-color);
}

/* hero */
.hero {
  background-image: url('../imgs/hero_copy.png');
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: auto;
  margin: auto;
}

.hero h2 {
  text-shadow: 1px 0 0 #000, 0 -1px #000, 1px 0 0 #000, 0 -1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px;
}

/* about me */
#about {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.about-mestuff img {
  height: 155px;
  width: 155px;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.about-mestuff p {
  width: 80%;
  text-align: left;
  margin: auto;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
/* contact */
#contact {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-container {
  width: 100%;
  position: relative;
  top: 5px;
}
.left-side {
  flex: 2;
  display: inline-block;
}
.left-side img {
  margin: auto;
  position: relative;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}
.right-side {
  flex: 3;
  display: inline-block;
  position: relative;
  top: -40px;
  text-align: left;
}
.right-side p {
  margin-bottom: 0;
  font-weight: bold;
}
/* mobile friendly stuff */

@media screen and (max-width: 1440px) {
  header h1 {
    width: 100%;
    text-align: center;
    flex: auto;
  }
  .hero {
    width: 100%;
    padding: 0;
  }
  body {
    max-width: 1440px;
  }
  header nav {
    width: 100%;
    text-align: center;
    flex: auto;
    margin: auto;
  }
}
@media screen and (max-width: 980px) {
  header h1 {
    width: 100%;
    text-align: center;
    flex: auto;
  }
  .hero {
    width: 100%;
    padding: 0;
  }
  body {
    max-width: 980px;
  }
  header nav ul {
    width: 100%;
    text-align: center;
    flex: auto;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  header h1 {
    width: 100%;
    text-align: center;
    flex: auto;
  }
  .hero {
    width: 100%;
    padding: 0;
  }
  header nav ul li a {
    font-size: 13px;
  }
  body {
    max-width: 768px;
  }
  header nav ul {
    width: 100%;
    text-align: center;
    flex: auto;
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    width: 100%;
    text-align: center;
    flex: auto;
  }
  .hero {
    width: 100%;
    padding: 0;
  }
  header nav ul li a {
    font-size: 13px;
  }
  body {
    max-width: 575px;
  }
  header nav ul {
    width: 100%;
    text-align: center;
    flex: auto;
    margin: auto;
  }
}
