:root {
  --primary-color: #f06449;
  --secondary-color: #0582ca;
  --tertiary-color: #000;
}

/* nav bar */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--tertiary-color);
}

#work {
  text-align: center;
}
.section h2 {
  margin-bottom: 35px;
  display: inline-block;
  border-bottom: 3px solid #000;
}
.row-one,
.row-two {
  width: 100%;
}

.figcaption {
  opacity: 0.3;
}

.column {
  padding: 5px 35px;
  opacity: 0.3;
}
.center {
  width: 76%;
}
.small-preview {
  display: flex;
  justify-content: space-around;
}

.column:hover {
  opacity: 1;
  background-position: center;
  justify-content: center;
}
.img {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  color: var(--tertiary-color);
  border-radius: 15px;
  border-bottom: 3px solid var(--tertiary-color);
}

/* hero */
.hero {
  background-image: url("https://picsum.photos/1000");
  background-size: cover;
  background-position: center;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero h2 {
  padding: 300px;
}

/* about me */

/* work */

/* contact */
